body {
	font-family: 'Raleway', sans-serif;
}

.ui-page {
    background-color: #FFFFFF;
}

h1 {
	font-size: 45px;
	font-family: 'Raleway', sans-serif;
	color: #7de0b0;
}

a {
	color: #000000;
}

p{
	font-style: "Raleway";
	color: #A8A8A8;
}

.black {
	color: #A8A8A8;
}

.green {
	color:#7de0b0;

}

.word {
	font-family: 'Raleway', sans-serif;
}

#button {
	color:white !important;
}

#collapsible {
	background-color:white;
}

body, input, select, textarea, button, .ui-btn {
	font-family: 'Raleway', sans-serif;
}



